@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: "Manrope", sans-serif !important;
  font-size: 16px;
}
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #f9f9f9;
}
.fa-caret-down:before {
  content: "\f107";
  padding: 0px 5px !important;
}
.fa:before {
  font-family: "FontAwesome";
}
.top-alert {
  width: 100%;
  height: 5vh;
  background-color: #006566;
  display: flex;
  align-items: center;
  padding: 5px 30px !important;
  color: white;
  p {
    font-size: 16px;
  }
}
.navbar {
  width: 100%;
  height: 12vh;
  padding: 10px 0px !important;
  .nav-elements {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .logo {
      width: 20%;
      padding: 0px 20px;
      margin: 0px 30px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 80%;
      }
    }
    .searchbar {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .searchbarelements {
        display: flex;
        border-radius: 15px;
        .select {
          background-color: #006566;
          padding: 0px 10px !important;
          #options {
            background-color: #006566;
            padding: 8px 10px !important;
            outline: none;
            border: none;
            color: white;
            .option {
              width: 100%;
              padding: 10px 20px !important;
            }
          }
        }
        #options {
          background-color: #006566;
          padding: 8px 10px !important;
          outline: none;
          border: none;
          width: 130px;
          color: white;
        }
        .input {
          border: none;
          outline: none;
        }
        input {
          width: 400px;
          background-color: #e6f2f2;
          padding: 0px 30px !important;
        }
        a {
          padding: 8px 15px !important;
          background-color: #e6f2f2;
          i {
            font-size: 20px !important;
            color: grey;
          }
        }
      }
    }
    .btns {
      display: flex;
      width: 30%;
      align-items: center;
      justify-content: center;

      .btn1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 20px !important;
        border-right: 1px solid grey;

        .item {
          margin: 0px 8px !important;
        }

        svg:hover {
          fill: #006566;
        }
      }

      .menubar {
        display: none;
      }

      .btn2 {
        border-right: none;

        a {
          text-decoration: none;
          color: black;
        }

        span {
          color: white;
          font-size: 10px;
          padding: 4px 7px !important;
          background-color: #006566;
          border-radius: 50%;
        }
      }
    }
  }
}

.navupper-div {
  position: relative;
}

.navbar2 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  box-shadow: 0px 3px 6px -4px grey;
  z-index: 111111;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 222222;
}

.navbar2 a {
  float: left;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 5px 16px !important;
  text-decoration: none;
  color: black;
}

.bd1::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.bd1:hover::after {
  width: 100%;
  //transition: width .3s;
}

.subnav {
  float: left;
  overflow: hidden;
  transition: all 0.3s ease;
}

.subnav .subnavbtn {
  font-size: 14px;
  border: none;
  outline: none;
  padding: 5px 30px !important;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnav-content {
  visibility: hidden;
  position: absolute;
  width: 12%;
  color: black;
  background-color: #f7f7f7;
  padding: 30px 20px !important;
  margin: 5px 0px !important;
  line-height: 2;
  z-index: 1;
  transition: all 0.1s;
}

.subnav-content a {
  float: left;
  color: black;
  padding: 20px 0px !important;
  text-decoration: none;
}

.subnav-content a:hover {
  color: #006566;
}

.subnav:hover .subnav-content {
  visibility: visible;
  transition: all 0.3s ease;
  flex-direction: column;
  line-height: 0;
}

.navbar2:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: solid 2px black !important;
  border-radius: 20px;
  -webkit-animation: border_anim 0.5s linear forwards;
  animation: border_anim 0.5s linear forwards;
}

.nws-home-container {
  width: 90%;
  margin: 20px 0px !important;
  align-items: center;
  margin: auto !important;
}

.nws-home-row {
  display: flex;
  align-items: center;
}

.nws-col-w {
  width: 50%;
}

.home-content {
  display: flex;
  flex-direction: column;
  padding: 20px 30px !important;
}

.image-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nws-home-container .item {
  padding: 20px 5px !important;
}

.heading h1 {
  font-size: 40px !important;
  text-transform: uppercase;
  font-weight: 900;
}

.para p {
  font-size: 22px;
  margin: 0 !important;
}

.btn button {
  border: none;
  padding: 10px 15px !important;
  font-size: 20px !important;
  text-transform: capitalize;
  background-color: #006566;
  color: #e6f2f2;
  border-radius: 5px;
}

.img {
  width: 90%;
  height: 90%;
}

.img img {
  width: 80%;
  object-fit: cover;
  margin: 0 0 !important;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 10px !important;
  padding: 0 !important;
  cursor: pointer;
}

.slick-dots li button:before {
  font-family: slick;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 11px;
  height: 12px;
  content: "•";
  text-align: center;
  opacity: 1;
  color: white;
  // border: 1px solid #006566;
  // border-radius: 50%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #006566;
  // border: 1px solid #006566;
  // border-radius: 50%;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 13px;
  height: 13px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
  border: 2px solid #006566;
  border-radius: 50%;
}

.product-intro {
  width: 100%;
  margin: 20px 0 !important;
  background-color: #f9f9f9;

  .card-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      position: relative;
      height: auto;
      width: 45%;
      display: flex;
      margin: 30px !important;
      padding: 10px !important;
      flex-direction: row;
      background-color: white;
      border-radius: 10px;

      .content {
        width: 50%;
        display: flex;
        padding-left: 20px !important;
        flex-direction: column;

        h1 {
          font-size: 25px;
          padding: 10px 0px !important;
        }

        a {
          padding: 15px 15px !important;
          background-color: #006566;
          color: white;
          border: none;
          text-decoration: none;
          margin-right: 60% !important;
          border-radius: 5px;
          transition: all 0.3s ease;
          position: absolute;
          bottom: 30px;
          left: 30px;

          &:hover {
            background-color: black;
          }
        }
      }

      .img {
        width: 50%;
        height: 250px;
        display: flex;
        justify-content: right;

        img {
          width: 100%;
        }
      }
    }

    .card3 {
      height: 220px;

      .img {
        width: 50%;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 70%;
        }
      }
    }

    .card4 {
      height: 220px;

      .img {
        object-fit: cover;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 70%;
        }
      }
    }
  }
}

.product-slider {
  width: 100%;

  .slide-container {
    width: 100%;

    .section-head {
      position: relative;
      padding-left: 7% !important;

      p {
        display: inline-block;
        text-transform: capitalize;
        padding: 5px 10px !important;
        color: #006566;
        background-color: transparent;
        border: 1px solid #006566;
        border-radius: 5px;
        margin: 10px 0 !important;
        margin-top: 40px !important;
      }

      h1 {
        font-size: 50px;
        font-weight: 700;
      }
    }
  }

  .p-slides {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px !important;
    flex-wrap: wrap;

    .slick-next {
      position: absolute;
      top: 0px;
      /* right: 39px; */
      left: 90%;
    }

    .slick-prev {
      position: absolute;
      top: 0px;
      /* right: 39px; */
      left: 85%;
    }

    button.slick-arrow {
      background: #006566;
      padding: 25px !important;
      border-radius: 50%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slick-next:before,
    .slick-prev:before {
      font-family: "FontAwesome" !important;
      font-size: 30px;
      line-height: normal;
      opacity: 0.75;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    button.slick-arrow {
      background-color: #006566;
      padding: 25px !important;
      border-radius: 50%;
    }

    button.slick-arrow.slick-disabled {
      background-color: #a2c5c6;
    }

    .slick-prev:before {
      content: "\f104";
    }

    .slick-next:before {
      content: "\f105";
    }

    .card {
      position: relative;
      width: 300px;
      height: 370px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 10px;
      margin: 30px !important;

      .sidebtn {
        position: absolute;
        right: 0;
        top: 55%;
        padding: 10px 20px !important;
        background-color: #006566;
        border-radius: 5px;
        transition: 0.3s all ease;

        &:hover {
          background-color: rgba(6, 17, 45, 0.8);
        }
      }

      .img {
        width: 90%;
        height: 50%;
        margin: 20px !important;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
        }
      }

      .headings {
        width: 90%;
        height: 50%;

        h5 {
          font-size: 10px;
          color: grey;
        }

        .mainhead {
          padding: 20px 0px !important;

          h2 {
            font-size: 22px !important;
          }
        }

        .price {
          h3 {
            font-size: 16px;

            span {
              font-size: 14px;
              text-decoration: line-through;
              color: grey;
              margin: 2px 20px !important;
            }
          }
        }
      }
    }
  }
}

.mms-brands {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  width: 100%;
  padding: 50px !important;

  .mms-brand {
    width: 300px;
    height: 100px;
    object-fit: cover;
    padding: 10px 20px !important;

    img {
      width: 100%;
    }
  }
}

.mms-blog-divs {
  display: flex;
  width: 100%;
  height: 90vh;

  .mms-blog-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
    height: 100%;

    .card {
      width: 40%;
      height: 85%;
      background-color: white;
      border-radius: 10px;

      .mms-blog-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          object-fit: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }

      .mms-blog-content {
        padding: 0px 20px !important;

        h1 {
          font-size: 26px;
          padding: 20px 0px !important;
        }

        p {
          font-size: 14px;
          font-weight: 200;
          margin-bottom: 30px !important;
          text-align: left;
        }

        a {
          font-size: 18px;
          margin: 20px 0px !important;
          background-color: #006566;
          padding: 10px 15px !important;
          color: #e6f2f2;
          border-radius: 5px;
          text-decoration: none;
          transition: 0.3s ease all;

          &:hover {
            background-color: #000;
          }
        }
      }
    }
  }

  .mms-content {
    width: 35%;
    height: 100%;
    padding: 40px 30px !important;
    background-color: #f8f8f8;

    h1 {
      font-size: 30px;
    }

    a {
      font-size: 18px;
      margin: 20px 0px !important;
      background-color: #006566;
      padding: 10px 15px !important;
      color: #e6f2f2;
      border-radius: 5px;
      text-decoration: none;
      transition: 0.3s ease all;

      &:hover {
        background-color: #000;
      }
    }

    .blog-cards {
      margin-bottom: 30px !important;

      .blog-card {
        padding: 15px 0px !important;
        transition: all ease 0.3s;

        &:hover h5,
        &:hover p {
          color: black;
        }

        h5 {
          font-size: 14px;
          font-weight: 900;
          color: rgb(84, 84, 84);
          padding: 5px 0px !important;
          transition: all ease 0.3s;
        }

        p {
          font-size: 14px;
          color: grey;
          font-weight: 100;
          transition: all ease 0.3s;
          word-spacing: 2px;
        }
      }
    }
  }
}

.sub-section {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .sub-main {
    width: 90%;
    height: 80%;
    background: url(/Untitled_design_2.png);
    background-position: center;
    background-size: cover;

    .subscribe-div {
      padding: 40px 60px !important;
      width: 50%;

      h1 {
        color: white;
        font-weight: 700;
        font-size: 40px;
      }

      p {
        padding: 30px 0px !important;
        font: 100;
        font-size: 14px;
        color: rgb(219, 218, 218);
      }

      .sub-input {
        width: 90%;
        background-color: #299595;
        margin-top: 20px !important;
        padding: 10px 0px !important;
        display: flex;
        justify-content: space-evenly;
        border-radius: 5px;

        input {
          padding: 10px 25px !important;
          outline: none;
          border: none;
          background-color: transparent;
          color: white;
          font-size: 16px;

          &::placeholder {
            color: rgb(193, 193, 193);
            font-size: 14px;
          }
        }

        input[type="submit"] {
          color: #006566;
          padding: 15px 50px !important;
          background-color: white;
          border-radius: 5px;
        }

        button {
          padding: 15px 30px !important;
          border: none;
          outline: none;
          border-radius: 5px;
          color: #006566;
        }
      }
    }
  }
}

.footer-section {
  width: 100%;
  display: flex;
  padding: 30px 0px !important;

  .footer-left {
    width: 50%;
    padding: 20px 50px !important;

    .logo {
      img {
        width: 30%;
      }
    }

    .pd1 {
      margin: 30px 0px !important;
      display: flex;

      svg {
        margin: 0px 3px !important;
      }

      p {
        font-size: 18px;
        padding: 0px 20px !important;
      }
    }
  }

  .footer-right {
    width: 50%;
    padding: 10px !important;
    display: flex;

    .pd2 {
      padding: 30px !important;

      ul {
        h1 {
          padding: 20px 0px !important;
        }

        li {
          list-style: none;
          padding: 10px 0px !important;
          color: #006566;
        }
      }
    }
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px !important;

  .icons {
    span {
      font-size: 16px;
      padding: 10px !important;
      margin: 0px 8px !important;
      background-color: #656565;
      border-radius: 50%;
      color: white;
    }
  }
}

#button {
  display: inline-block;
  background-color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 0.1px solid #006566;
  position: fixed;
  bottom: 90px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  color: #006566;
}

#button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px rgb(125, 125, 125);
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.menu-responsive {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100vh;
  background-color: white;
  z-index: 9;
  overflow-y: scroll;
  transition: 0.1s all ease;

  .closing {
    width: 100%;
    padding: 20px !important;
    display: flex;
    justify-content: right;
    transition: all 1s ease;

    a {
      color: grey;
      font-size: 20px;
    }
  }

  .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      width: 70%;
      border: 1px solid #006566;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
    }

    input {
      width: 70%;
      padding: 10px 15px !important;
      border: none;
      border-radius: 3px;
      outline: none;
    }

    button {
      width: 28%;

      padding: 8px 10px !important;
      background-color: #e6f2f2;
      border: none;
      border-radius: 3px;

      i {
        color: grey;
        font-size: 18px;
      }
    }
  }

  .menu-btns {
    width: 100%;
    padding: 30px 20px !important;

    .btns {
      padding: 10px 5px !important;
      border-bottom: 1px solid rgb(190, 190, 190);
      width: 100%;
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: grey;
        font-size: 14px;

        &:hover {
          color: #006566;
        }
      }
    }

    .menu-uls {
      padding: 20px 40px !important;
      ul {
        list-style: none;
        li {
          padding: 10px 0px !important;

          a {
            text-decoration: none;
            color: gray;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .navbar .nav-elements .searchbar {
    display: none;
  }

  .navbar .nav-elements .logo {
    width: 30%;
    margin: 0px 10px !important;
  }

  .navbar .nav-elements .logo img {
    width: 100%;
  }

  .navbar .nav-elements .btns {
    width: 70%;
  }

  .navbar .nav-elements {
    justify-content: space-between;
  }

  .navbar .nav-elements .btns .btn1 {
    padding: 5px 5px !important;
  }

  .top-alert p {
    font-size: 8px;
  }

  .navbar2 {
    display: none;
  }

  .nws-col-w {
    width: 100%;
    text-align: center;
  }

  .nws-home-row {
    flex-direction: column;
  }

  .para p {
    font-size: 12px;
    margin: 0 !important;
  }

  .heading h1 {
    font-size: 18px !important;
  }

  .nws-home-row .img {
    width: 90%;
    /* height: 90%; */
    display: contents;
  }

  .card-section .card {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 10px !important;
    padding: 15px !important;
    background-color: white;
    border-radius: 10px;
  }

  .card-section .card .content a {
    position: static;
    text-align: center;
    padding: 5px 15px !important;
    margin: 15px 0px !important;
    background-color: #006566;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .card-section .card .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 0px !important;
  }

  .card-section .card .content h1 {
    font-size: 19px;
    padding: 6px 0px !important;
    text-align: center;
  }

  .card-section .card .img {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-slider .slide-container .section-head h1 {
    font-size: 15px;
    font-weight: 700;
  }

  .product-slider .p-slides button.slick-arrow {
    background-color: #006566;
    padding: 15px !important;
    border-radius: 50%;
  }

  .product-slider .p-slides .slick-next {
    position: absolute;
    left: 85%;
  }

  .product-slider .p-slides .slick-prev {
    left: 70%;
  }

  .product-slider .p-slides .slick-next:before,
  .product-slider .p-slides .slick-prev:before {
    font-size: 20px;
  }

  .product-slider .p-slides {
    padding: 35px 10px !important;
  }
  .product-slider .p-slides .card {
    position: relative;
    width: 250px !important;
    height: auto;
    display: flex;
    padding-bottom: 30px !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin: 10px !important;
  }

  .product-slider .p-slides .card .headings .mainhead h2 {
    font-size: 18px !important;
    margin: 20px 0px !important;
  }

  .mms-brands .mms-brand {
    width: 151px;
    height: 50px;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 10px 5px !important;
  }

  .mms-brands {
    padding: 50px 5px !important;
  }

  .mms-blog-divs {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 20px 0px !important;
    /* height: 90vh; */
  }

  .mms-blog-divs .mms-blog-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }

  .mms-blog-divs .mms-blog-cards .card {
    width: 90%;
    height: 85%;
    background-color: white;
    border-radius: 10px;
    padding: 20px 10px !important;
    margin: 10px 0px !important;
  }

  .mms-blog-divs .mms-content {
    width: 90%;
    height: 100%;
    padding: 20px 20px !important;
    background-color: #f8f8f8;
  }

  .mms-blog-divs .mms-content h1 {
    font-size: 20px;
  }

  .sub-section .sub-main {
    width: 90%;
    height: 90%;

    background-color: #006566;
    background: #006566;
  }

  .sub-section {
    /* height: 80vh; */
    height: auto;
  }

  .sub-section .sub-main .subscribe-div {
    padding: 22px 15px !important;
    width: 100%;
  }

  .sub-section .sub-main .subscribe-div h1 {
    font-size: 19px;
  }

  .sub-section .sub-main .subscribe-div p {
    padding: 9px 0px !important;
    font: 100;
    font-size: 11px;
    color: rgb(219, 218, 218);
  }

  .sub-section .sub-main .subscribe-div .sub-input input {
    padding: 13px 4px !important;
    margin: 5px 0px !important;
    border: 1px solid #299595;
    border-radius: 5px;
    font-size: 10px;
  }

  .sub-section .sub-main .subscribe-div .sub-input {
    margin-top: 10 0px !important;
    padding: 10px 10px !important;
    flex-direction: column;
    width: 100%;
  }

  .sub-section .sub-main .subscribe-div .sub-input form {
    display: flex;
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer .icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px !important;
  }

  footer .icons span {
    font-size: 14px;
    padding: 8px 12px !important;
  }

  .menubar {
    color: black;
    font-size: 18px;
    display: block !important;
  }

  .navbar .nav-elements .btns .btn1 .item {
    margin: 0px 5px !important;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
  }
  .footer-section .footer-left {
    width: 100%;
    padding: 11px 10px !important;
  }

  .footer-section .footer-left .logo img {
    width: 80%;
  }
  .footer-section .footer-left .pd1 p {
    font-size: 14px;
    padding: 0px 8px !important;
  }

  .footer-section .footer-right {
    width: 100%;
    padding: 4px !important;
    flex-direction: column;
  }
  .footer-section .footer-right .pd2 {
    padding: 10px !important;
  }
  .footer-section .footer-right .pd2 ul h1 {
    padding: 10px 0px !important;
  }

  * {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: "Manrope", sans-serif !important;
    font-size: 12px;
  }
}
